<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{header}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis pariatur nostrum cum odio praesentium perspiciatis a obcaecati natus repellat in vero quo maiores saepe, tempora dolor ea eos temporibus! Incidunt.</p>
</body>
</html>